<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memenator</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <section class="intro-section">
            <h1>Welcome to Memenator!</h1>
            <p>This site allows you to build awesome memes! All you have to do is input the text that will go above and below a funny image! Let your imagination go wild!</p>
        </section>

        <section class="input-section">
            <form action="/generate" method="POST">
                <div class="form-group">
                    <h2>Top Text</h2>
                    <label for="top_text">Enter Top Text:</label>
                    <input type="text" id="top_text" name="top_text" required>
                </div>
                <div class="form-group">
                    <h2>Bottom Text</h2>
                    <label for="bottom_text">Enter Bottom Text:</label>
                    <input type="text" id="bottom_text" name="bottom_text" required>
                </div>
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </section>
    </div>
</body>
</html>

